<div class="procedures-banner" id="top-banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1462206092226-f46025ffe607?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1774&q=80g')">
  <div class="container">
    <h1>Law Firms</h1>
  </div>
</div>
<div class="container">
  <div class="search">
    <%= form_tag lawfirms_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "lawfirms-search",
      placeholder: "Find a law firm"
    %>
      <%= submit_tag "Search", class: "button-consultationscenter" %>
    <% end %>
  </div>
  <% if @lawfirms.empty? %>
    <div class="no-results">
      <h1>There are currently no law firms with those parameters</h1>
    </div>
  <% else %>
    <div class="wrapper-lawfirms">
      <div class="cards-lawfirms">
        <% @lawfirms.each do |lawfirm| %>
          <div class="card-lawfirms">
            <div class="gradient">
            </div>
            <div class="card-lawfirms-img">
              <% if lawfirm.photo.attached? %>
                <%= image_tag (cl_image_path lawfirm.photo.key), alt: "law firm"%>
              <% else %>
                <img src="https://res.cloudinary.com/drmu7et5q/image/upload/v1661847005/logo-gold-square_nbicce.png" alt="law firm">
              <% end %>
            </div>
            <div class="content-lawfirms">
              <div class="consultations-flex-lawfirms">
                <div class="left-right">
                  <h2><%= lawfirm.name %></h2>
                </div>
                <div class="left-right">
                  <h2><% lawfirm.reviews.average(:rating).to_i.times do %>
                      <i class="fa-solid fa-star star-yellow"></i>
                    <% end %></h2>
                </h2>
              </div>
            </div>
            <div class="consultations-flex-lawfirms">
              <div class="left-right">
                <h2>Location:</h2>
              </div>
              <div class="left-right">
                <h2><%= lawfirm.location %></h2>
              </div>
            </div>
            <div class="consultations-flex-lawfirms">
              <div class="left-right">
                <h2>Specialty:</h2>
              </div>
              <div class="left-right">
                <% if lawfirm.tag_list.empty? %>
                  <h2>General Law</h2>
                <% else %>
                  <h2><%= lawfirm.tag_list %></h2>
                <% end %>
              </div>
            </div>
            <%= link_to "Show more information", lawfirm_path(lawfirm), class: "button-main-lawfirm" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="map"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
<% end %>
</div>
