<div class="procedures-banner" id="top-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dcs2vqe2s/image/upload/v1660554814/pexels-josh-sorenson-391522_uqnmaf.jpg')">
  <div class="container">
      <h1>Law Firms</h1>
  </div>
</div>

<div class="container">
  <% if @lawfirms.empty? %>
    <div class="no-results"><h1>There are currently no law firms in this location <i class="fa-regular fa-face-frown"></i></h1></div>
  <% else %>
  <div class="wrapper-lawfirms">
    <div class="cards-lawfirms">
      <% @lawfirms.each do |lawfirm| %>
      <div class="card-lawfirms">
      <div class="gradient">
      </div>
        <div class="card-lawfirms-img">
          <img src="https://cdn-icons-png.flaticon.com/512/709/709722.png" alt="user">
        </div>
        <div class="content-lawfirms">
          <h2><%= lawfirm.name %></h2>
          <h2><%= lawfirm.location %></h2>
          <%= link_to "Show more information", lawfirm_path(lawfirm) %>
          <p>
            <% lawfirm.tag_list.each do |tag| %>
              <%= link_to tag, tagged_path(tag: tag) %>
            <% end %>
          </p>
        </div>
      </div>
      <% end %>
    </div>
    
      <div class="map" style="width: 100%; height: 600px; position: sticky"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  <% end %>

</div>
