<div class="procedures-banner" id="top-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80')">
  <div class="container">
    <!-- <h1><%= current_user.first_name %> <%= current_user.last_name %>'s Profile</h1> -->
  </div>
</div>
<div class = "wrapper-form">
  <div class="form-card">
    <div>
      <h1 class="d-flex justify-content-center">Become a Law Firm</h1>
      <%= simple_form_for @lawfirm do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :location %>
        <%= f.input :tag_list, as: :check_boxes, collection: [ "Immigration Law", "Corporate Law", "Family Law", "Intellectual Property Law" ] %>
        <%= f.input :photo, as: :file %>
        <div class="row">
          <%= f.submit class: 'button-consultationscenter' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
