<div class="procedures-banner" id="top-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/dcs2vqe2s/image/upload/v1660653517/gavel-gbf4d8f0fc_1920_blzqpt.jpg')">
  <div class="container">
  </div>
</div>
<div class="container-facebook-profile">
  <div class="card-facebook-profile">
    <div class="gradient">
    </div>
    <div class="facebook-profile-img">
      <% if @lawfirm.photo.attached? %>
        <%= image_tag (cl_image_path @lawfirm.photo.key), alt: "user"%>
      <% else %>
        <img src="https://cdn-icons-png.flaticon.com/512/709/709722.png" alt="user">
      <% end %>
    </div>
    <div class="content-facebook-profile">
      <div class="top">
        <div class="container-pet-profile">
          <div class="left-right">
            <h1><%= @lawfirm.name %><% @lawfirm.reviews.average(:rating).to_i.times do %>
                <i class="fa-solid fa-star star-yellow"></i>
              <% end %></h1>
          </div>
          <div class="left-right-no-blue">
            <h1>
              <%= link_to toggle_favorite_lawfirm_path(@lawfirm), remote: true, method: :post do %>
                <%= render 'lawfirms/like_button', lawfirm: @lawfirm %>
              <% end %>
            </h1>
            <div class="profile-buttons">
            </div>
          </div>
        </div>
      </div>
      <h1><%= pluralize @lawfirm.reviews.size, "review" %></h1>
      <% if @lawfirm.tag_list.empty? %>
        <h2>Practices General Law</h2>
      <% else %>
        <h2>Specializes in <%= @lawfirm.tag_list %></h2>
      <% end %>
      <div class="left-right">
        <div class="profile-buttons">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <% if current_user.consultations.any?%>
    <div class="wrapper-lawfirms-show">
      <div class="lawfirms-show-description-card">
        <div class="consultations-flex">
          <div class="left-right">
            <h1>Description:</h1>
          </div>
        </div>
        <p>
          <% if @lawfirm.description %>
            <%= @lawfirm.description %>
          <% else %>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem facilis numquam qui aliquid dolorem necessitatibus molestias mollitia, placeat consectetur eligendi modi pariatur omnis dolores ex.
          <% end %>
        </p>
      </div>
      <div class="lawfirms-show-need-help-card">
        <h5>Need help from <%= @lawfirm.name %>?</h5>
        <p>Which application do you need help with?</p>
        <% current_user.consultations.each do |consultation| %>
          <%= simple_form_for [@lawfirm, consultation] do |f| %>
            <%= f.submit "+", class: "btn button-consultationscenter"%> <%= consultation.procedure.name %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="wrapper-lawfirms-show">
      <div class="lawfirms-show-description-card">
        <div class="consultations-flex">
          <div class="left-right">
            <h1>Description:</h1>
          </div>
        </div>
        <p>
          <% if @lawfirm.description %>
            <%= @lawfirm.description %>
          <% else %>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem facilis numquam qui aliquid dolorem necessitatibus molestias mollitia, placeat consectetur eligendi modi pariatur omnis dolores ex.
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
  <div class="wrapper-lawfirms-show">
    <div class="cards-lawfirms-show">
      <div class="card-lawfirms-show">
        <h1>Information:</h1>
        <div class="user-info-lawfirms-show">
          <ul>
            <li>
              <p><i class="fa-solid fa-location-pin"></i></p>
              <p>Location: <%= @lawfirm.address %>, <%= @lawfirm.location %></p>
            </li>
            <li>
              <p><i class="fa-solid fa-phone"></i></p>
              <p>Telephone Number: 123-(4567)-890 </p>
            </li>
            <li>
              <p><i class="fa-solid fa-fax"></i></p>
              <p>Fax Number: 123-(4567)-890 </p>
            </li>
            <li>
              <p><i class="fa-solid fa-tag"></i></p>
              <% if @lawfirm.tag_list.empty? %>
                <p >There are no specialties; practices general law</p>
              <% else %>
                <p>Specialty: <%= @lawfirm.tag_list %></p>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="map-lawfirms-show"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <div data-controller="insert-in-list">
    <div class="lawfirms-show-description-card">
      <h1> <%= pluralize @lawfirm.reviews.size, "review" %> <% @lawfirm.reviews.average(:rating).to_i.times do %>
          <i class="fa-solid fa-star star-yellow"></i>
        <% end %></h1>
      <div id="reviews" data-insert-in-list-target="items">
        <% if @lawfirm.reviews.blank? %>
          <p id="first-text">Be the first to leave a review for <%= @lawfirm.name %></p>
        <% else %>
          <% @lawfirm.reviews.each do |review| %>
            <%= render "reviews/review", review: review %>
          <% end %>
        <% end %>
      </div>
      <%= render 'reviews/form', lawfirm: @lawfirm, review: @review %>
    </div>
  </div>
  <div class="lawfirms-show-description-card">
    <% if @related_lawfirms.any? %>
      <h1>Similar Law Firms:</h1>
      <div class="wrapper-favorites">
        <% @related_lawfirms.each do |favorite|%>
          <div class="card-favorites">
            <div class="gradient-favorites"></div>
            <div class="card-favorites-img">
              <% if favorite.photo.attached? %>
                <%= image_tag (cl_image_path favorite.photo.key), alt: "law firm"%>
              <% else %>
                <img src="https://res.cloudinary.com/drmu7et5q/image/upload/v1661846619/logo-black-square_iy9eai.png" alt="law firm">
              <% end %>
            </div>
            <div class="content-favorites">
              <div class="favorites-flex-center">
                <p><%= favorite.name %></p>
              </div>
              <div class="favorites-flex">
                <div class="left-right">
                  <p>Address:</p>
                </div>
                <div class="left-right">
                  <p><%= favorite.address %></p>
                </div>
              </div>
              <div class="favorites-flex">
                <div class="left-right">
                  <p>Location:</p>
                </div>
                <div class="left-right">
                  <p><%= favorite.location %></p>
                </div>
              </div>
              <div class="favorites-flex">
                <div class="left-right">
                  <p>Specialty:</p>
                </div>
                <div class="left-right">
                  <% if favorite.tag_list.any? %>
                    <% favorite.tag_list.each do |tag| %>
                      <p><%= link_to tag, lawfirms_path(query: tag) %></p>
                    <% end %>
                  <% else %>
                    <p>General</p>
                  <% end %>
                </div>
              </div>
              <div class="favorites-flex-center pt-3">
                <%= link_to "Show more information", lawfirm_path(favorite), class: "button-main" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <h1 class="text-center">There are no similar law firms</h1>
    <% end %>
  </div>
</div>
<div class="ampty">
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
  $(function () {
      $('[data-toggle="tooltip"]').tooltip();
  });
</script>
