<%= @consultations.each do |consultation| %>
  <div>
    <%= consultation.id %>
    <%= consultation.user_id %>
    <%= consultation.procedure.name %>
    <%= consultation.steps.count %>
  </div>
<% end %>
