<head>
</head>
<body>
  <div class="banner">
  </div>
  <div class="container">
    <div class="row">
      <h2><%= @consultation.id %></h2>
      <h2><%= @consultation.user_id %></h2>
      <h2><%= @consultation.procedure.name %></h2>
      <h2><%= @consultation.steps.count %></h2>
    </div>
    <% @consultation.steps.order(:created_at).each do |step| %>
      <div class="container_seemore">
        <div class="seemore" data-controller="seemore">
          <button type="button" class= "seemore__button" data-action="click->seemore#display"><%= step.name %></button>
          <div class="seemore__content" data-seemore-target="content">
            <p>
              <%= step.instruction %>
              <%= simple_form_for(step) do |f| %>
                <%= f.input :photos, as: :file, input_html: { multiple: true } %>
                <%= f.button :submit, 'Upload File(s)' %>
                <% if step.photos.attached? %>
                  <% step.photos.each do |photo| %>
                    <%= photo.id %> | Edit | Delete
                    <%= link_to 'Remove', delete_photo_attachment_step_path(photo.id),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</body>
