<div class="section">
 <%# <img src="https://res.cloudinary.com/dcs2vqe2s/image/upload/v1660374725/logo-white_oudwnm.png" alt="watermark"> %>
  <h1>JURIS JAPAN</h1>
  <p><span data-controller="typed-js"></span></p>
  <div class="two-buttons">
    <span>
      <%= link_to "Look at Procedures", procedures_path, class: "button-main" %>
    </span>
    <span>
      <%= link_to "Look at Law Firms", lawfirms_path, class: "button-secondary" %>
    </span>
  </div>

  <div class="video-container" id="top-banner">
    <div class="color-overlay"></div>
      <video muted loop autoplay id="myvideo" >
        <source src ="https://res.cloudinary.com/dcs2vqe2s/video/upload/v1660363376/banner_video_skoa15.mp4" type="video/mp4">
      </video>
  </div>
  <div id="down" class="jumplink" onclick="window.location='#about';">
    <i class="fa-solid fa-chevron-down blinking"></i>
  </div>
</div>

<div class="home-grid">
  <div class="about-us-left" id="about">

    <h1>What is <span class ="blue">Juris Japan? </span></h1>
  </div>

  <div class="about-us-right">
    <div class="container">
    <h1>Welcome to <span class="blue">Juris Japan</span></h1>
      <p>Juris Japan is a project created by Le Wagon students in order to help ease foreigners' legal experiences in Japan by providing a checklist of all requirements</p>
      <%= link_to about_path, class: "banner-see-more" do %>
      See more <i class="fa-solid fa-arrow-right"></i>
    <% end %>
    </div>
  </div>

  <div class="banner-procedures-offer procedures-we-offer">
    <div class="container">
      <h1 class ="text-center">Law Procedures We Offer</h1>
      <div class="d-flex justify-content-around">
        <div class ="icon-text">
          <%= link_to procedures_path(anchor: "banner"), class: "navbar-brand" do %>
          <div class="navbar-lewagon-blue-a">
          <%= image_tag ("immigration-icon.png"), class: "icon-home" %>
          </div>
          <% end %>
          <p class="immigration-icon">Immigration</p>
        </div>
        <div class="icon-text">
        <%= link_to procedures_path(anchor: "immigration"), class: "navbar-brand" do %>
          <div class="navbar-lewagon-blue-a">
          <%= image_tag ("corporate-icon.png"), class: "icon-home" %>
          </div>
          <% end %>
          <p class="corporate-icon">Corporate</p>
        </div>
        <div class="icon-text">

        <%= link_to procedures_path(anchor: "corporate"), class: "navbar-brand" do %>
          <div class="navbar-lewagon-blue-a">
          <%= image_tag ("family-icon.png"), class: "icon-home lower-home" %>
          </div>
          <% end %>
          <p class="corporate-icon">Family</p>
        </div>

        <div class="icon-text">

          <%= link_to procedures_path(anchor: "family"), class: "navbar-brand" do %>
          <div class="navbar-lewagon-blue-a">
          <%= image_tag ("patent-icon.png"), class: "icon-home lower-home" %>
          </div>
          <% end %>
          <p class="corporate-icon">Copyright</p>


        </div>
      </div>
      <div class="home-procedures-link text-center">
        <%= link_to procedures_path, class: "banner-see-more" do %>
          See more <i class="fa-solid fa-arrow-right"></i>
        <% end %>
      </div>
    </div>
  </div>

<div class="banner-procedures-offer lawfirms-we-offer">
    <div class="container">
      <h1 class ="text-center">Law Firms in Partnership with Us</h1>
      <div class="d-flex justify-content-around">
        <div class ="icon-text">
          <%= link_to procedures_path("#immigration"), class: "navbar-brand" do %>
          <div class="navbar-lewagon-blue-a">
          <%= image_tag ("immigration-icon.png"), class: "icon-home" %>
          </div>
          <% end %>
          <p class="immigration-icon">Immigration</p>
        </div>
        <div class="icon-text">
          <%= image_tag ("corporate-icon.png"), class: "icon-home" %>
          <p class="corporate-icon">Corporate</p>
        </div>
        <div class="icon-text">
          <%= image_tag ("family-icon.png"), class: "icon-home lower-home" %>
          <p class="family-icon">Family</p>
        </div>
        <div class="icon-text">
          <%= image_tag ("patent-icon.png"), class: "icon-home lower-home" %>
          <p class="patent-icon">Copyright</p>
        </div>
      </div>
      <div class="home-procedures-link text-center">
        <%= link_to procedures_path, class: "banner-see-more" do %>
          See more <i class="fa-solid fa-arrow-right"></i>
        <% end %>
      </div>
    </div>
  </div>

</div>
