<div class="section">
  <h1>Juris Japan</h1>
  <p><span data-controller="typed-js"></span></p>
  <div class="two-buttons">
    <span>
      <%= link_to "Look at Procedures", procedures_path, class: "button-main" %>
    </span>
    <span>
      <%= link_to "Look at Lawfirms", lawfirms_path, class: "button-secondary" %>
    </span>
  </div>

  <div class="video-container" id="top-banner">
    <div class="color-overlay"></div>
      <video muted loop autoplay id="myvideo" >
         <source src ="<%= asset_path 'banner_video.mp4' %>" type="video/mp4">
      </video>
  </div>
  <div id="down" class="jumplink" onclick="window.location='#about';">
    <i class="fa-solid fa-chevron-down blinking"></i>
  </div>
</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1505664194779-8beaceb93744?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80);">
  <div class="container" id="about">
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque illum magni quaerat nobis dolor accusamus officia ipsa laudantium distinctio dignissimos, fuga quibusdam reiciendis placeat neque odio enim nemo sit repellat?</p>
  </div>
</div>
<div class="banner-procedures-offer" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)), url(https://img.freepik.com/premium-photo/background-japanese-style-wave-pattern-teture_31825-349.jpg?w=1800);">
  <div class="container" id="about">
    <h1 class ="text-center">Procedures we offer</h1>
    <div class="d-flex justify-content-around">
      <div class ="icon-text">
        <%= image_tag ("immigration-icon"), class: "icon-home" %>
        <p class="immigration-icon">Immigration</p>
      </div>
      <div class="icon-text">
        <%= image_tag ("corporate-icon"), class: "icon-home" %>
         <p class="corporate-icon">Corporate</p>
      </div>
      <div class="icon-text">
        <%= image_tag ("family-icon"), class: "icon-home lower-home" %>
         <p class="family-icon">Family</p>
      </div>
      <div class="icon-text">
        <%= image_tag ("patent-icon"), class: "icon-home lower-home" %>
         <p class="patent-icon">Copyright</p>
      </div>
  </div>
  <div class="home-procedures-link text-center">
    <%= link_to procedures_path, class: "banner-see-more" do %>
      See more <i class="fa-solid fa-arrow-right"></i>
    <% end %>
  </div>
  </div>
</div>
