<h1>Name: <%= current_user.first_name %> <%= current_user.last_name %></h1>
<h2>Email Address: <%= current_user.email %></h2>
<h2>Location: <%= current_user.location %></h2>

<%= link_to "My Consultation", consultations_path, class:"btn btn-primary" %>
