<div class="procedures-banner" id="top-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url('assets/procedures-banner.jpg')">
  <div class="container">
      <h1>Procedures</h1>
  </div>
</div>
<div class="container">
  <div class="card-product">
    <%= image_tag ("immigration-icon")%>
    <div class="card-product-infos">
      <h2>Immigration Law</h2>
      <p><%= link_to "Permanent Residency", procedure_path(1)%> <i class="fa-solid fa-arrow-right"></i></p>
      <a href="#"><p>Visa Extension <i class="fa-solid fa-arrow-right"></i></p></a>
      <a href="#"><p>Spouse Visa <i class="fa-solid fa-arrow-right"></i></p></a>
    </div>
  </div>
  <div class="card-product">
    <%= image_tag ("corporate-icon")%>
    <div class="card-product-infos">
      <h2>Corporate Law</h2>
       <a href="#"><p>Employment <i class="fa-solid fa-arrow-right"></i></p></a>
      <a href="#"> <p>Corporate Tax <i class="fa-solid fa-arrow-right"></i></p></a>
       <a href="#"><p>Advertisement <i class="fa-solid fa-arrow-right"></i></p></a>
    </div>
  </div>
  <div class="card-product">
    <%= image_tag ("family-icon")%>
    <div class="card-product-infos">
      <h2>Family Law</h2>
       <a href="#"><p>Divorce <i class="fa-solid fa-arrow-right"></i></p></a>
       <a href="#"><p>Will and Inheritance <i class="fa-solid fa-arrow-right"></i></p></a>
       <a href="#"><p>Marriage <i class="fa-solid fa-arrow-right"></i></p></a>
    </div>
  </div>
  <div class="card-product">
    <%= image_tag ("patent-icon")%>
    <div class="card-product-infos">
      <h2>Copyright Law</h2>
       <a href="#"><p>Patent Law <i class="fa-solid fa-arrow-right"></i></p></a>
       <a href="#"><p>Trademark Law <i class="fa-solid fa-arrow-right"></i></p></a>
       <a href="#"><p>Design Law <i class="fa-solid fa-arrow-right"></i></p></a>
    </div>
  </div>
</div>

<!-- Actual one
<div class="container">
  <div class="d-flex justify-content-around">
        <%= image_tag ("immigration-icon"), class: "icon" %>
        <%= image_tag ("corporate-icon"), class: "icon" %>
        <%= image_tag ("family-icon"), class: "icon lower" %>
        <%= image_tag ("patent-icon"), class: "icon lower" %>
  </div>
</div>
-->

<!-- Michelle's Modal Code
<div class="container_seemore">
  <div class="seemore" data-controller="seemore">
    <button type="button" class= "seemore__button" data-action="click->seemore#display">See more!</button>
      <div class="seemore__content" data-seemore-target="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Cumque maiores enim tempora molestiae doloribus ipsa quisquam provident eius.
          labore pariatur laborum architecto deleniti! Accusamus quod harum nobis mollitia nulla iusto exercitationem laboriosam fugiat, assumenda tempora recusandae ex voluptate dolores cupiditate.
        </p>
      </div>
  </div>
  <div class="seemore" data-controller="seemore">
    <button type="button" class= "seemore__button" data-action="click->seemore#display">See more!</button>
      <div class="seemore__content" data-seemore-target="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Cumque maiores enim tempora molestiae doloribus ipsa quisquam provident eius.
          labore pariatur laborum architecto deleniti! Accusamus quod harum nobis mollitia nulla iusto exercitationem laboriosam fugiat, assumenda tempora recusandae ex voluptate dolores cupiditate.
        </p>
      </div>
  </div>
  <div class="seemore" data-controller="seemore">
    <button type="button" class= "seemore__button" data-action="click->seemore#display">See more!</button>
      <div class="seemore__content" data-seemore-target="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Cumque maiores enim tempora molestiae doloribus ipsa quisquam provident eius.
          labore pariatur laborum architecto deleniti! Accusamus quod harum nobis mollitia nulla iusto exercitationem laboriosam fugiat, assumenda tempora recusandae ex voluptate dolores cupiditate.
        </p>
      </div>
  </div>
  <div class="seemore" data-controller="seemore">
    <button type="button" class= "seemore__button" data-action="click->seemore#display">See more!</button>
      <div class="seemore__content" data-seemore-target="content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Cumque maiores enim tempora molestiae doloribus ipsa quisquam provident eius.
          labore pariatur laborum architecto deleniti! Accusamus quod harum nobis mollitia nulla iusto exercitationem laboriosam fugiat, assumenda tempora recusandae ex voluptate dolores cupiditate.
        </p>
      </div>
  </div>
</div>
-->
