<div class="procedures-banner" id="top-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80')">
</div>
<div class="container-facebook-profile">
  <div class="card-facebook-profile">
    <div class="gradient">
    </div>
    <div class="facebook-profile-img">
      <% if current_user.photo.attached? %>
        <%= image_tag (cl_image_path current_user.photo.key), alt: "user"%>
      <% else %>
        <img src="https://cdn-icons-png.flaticon.com/512/709/709722.png" alt="user">
      <% end %>
    </div>
    <div class="content-facebook-profile">
      <div class="top">
        <div class="container-pet-profile">
          <div class="left-right">
            <h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
          </div>
          <div class="left-right">
            <div class="profile-buttons">
              <% if current_user.lawfirm == nil %>
                <%= link_to new_lawfirm_path(@lawfirm), class: "button-main m-4" do %>
                  <i class="fa-solid fa-scale-balanced"></i> Become a Law Firm
                <% end %>
                <%= link_to edit_user_registration_path, class: "nav-link", class: "button-secondary" do %>
                  <i class="fa-solid fa-pen"></i> Edit Profile
                <% end %>
              <% else %>
                <div class="lawfirm-status"><span style="white-space: nowrap"><i class="fa-solid fa-scale-balanced"></i> Law Firm</span></div>
                <%= link_to edit_user_registration_path, class: "nav-link", class: "button-secondary" do %>
                  <i class="fa-solid fa-pen"></i> Edit Profile
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <h1><%= current_user.email %></h1>
      <% if current_user.lawfirm == nil %>
        <% if current_user.consultations.count == 1 %>
          <h2> <i class="fa-solid fa-clipboard"></i> Has <%= current_user.consultations.count %> consultation</h2>
        <% else %>
          <h2> <i class="fa-solid fa-clipboard"></i> Has <%= current_user.consultations.count %> consultations</h2>
        <% end %>
      <% else %>
        <% if current_user.lawfirm.consultations.count == 1 %>
          <h2> <i class="fa-solid fa-clipboard"></i> Has <%= current_user.lawfirm.consultations.count %> consultation</h2>
        <% else %>
          <h2> <i class="fa-solid fa-clipboard"></i> Has <%= current_user.lawfirm.consultations.count %> consultations</h2>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>
<div class="container">
  <div class="wrapper-lawfirms-show">
    <div class="profile-mydetails-card">
      <div class="gradient-consultations"></div>
      <div class="user-info">
        <h3><i class="fa-solid fa-book-open"></i> My Details</h3>
        <ul>
          <li>
            <h3><i class="fa-solid fa-file-signature"></i></h3>
            <h3>Name: <%= current_user.first_name%> <%= current_user.last_name%></h3>
          </li>
          <li>
            <h3><i class="fa-solid fa-envelope"></i></h3>
            <h3>Email Address: <%= current_user.email %> </h3>
          </li>
          <li>
            <h3><i class="fa-solid fa-map-pin"></i></h3>
            <h3>Lives in <%= current_user.location %></h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mytabs" id="consultations">
    <% if current_user.lawyer? %>
      <input type="radio" id="tabfree" name="mytabs" <% if params[:tabs].present? == false %>checked="checked"<% end %>>
      <label for="tabfree"><i class="fa-solid fa-clipboard"></i> Consultations </label>
      <div class="tab" >
        <% if current_user.lawfirm.consultations.any? %>
          <h2><%= current_user.lawfirm.name %>'s Consultations:</h2>
          <%=  %>
          <div class="wrapper-consultations">
            <% current_user.lawfirm.consultations.each do |consultation|%>
              <div class="card-consultations">
                <div class="gradient-consultations"></div>
                <div class="content-consultations">
                  <div class="consultations-flex">
                    <div class="left-right-name">
                      <p>Requested by:</p>
                    </div>
                    <div class="left-right-name">
                      <p><%= consultation.user.first_name %> <%= consultation.user.last_name %></p>
                    </div>
                  </div>
                  <div class="consultations-flex">
                    <div class="left-right">
                      <p>Name:</p>
                    </div>
                    <div class="left-right">
                      <p><%= consultation.procedure.name %></p>
                    </div>
                  </div>
                  <div class="consultations-flex">
                    <div class="left-right">
                      <p>Created at:</p>
                    </div>
                    <div class="left-right">
                      <p><%= consultation.created_at %></p>
                    </div>
                  </div>
                  <div class="consultations-flex">
                    <div class="left-right">
                      <p>Last updated at:</p>
                    </div>
                    <div class="left-right">
                      <p><%= consultation.updated_at %></p>
                    </div>
                  </div>
                  <div class="consultations-flex pt-3">
                    <div class="left-right">
                      <%= link_to "Review Procedure", consultation_path(consultation), class: "button-consultationscenter"%>
                    </div>
                    <div class="left-right">
                      <%= link_to "Send a Message", chatroom_path(consultation.chatroom), class: "button-consultationscenter" %>
                    </div>
                    <div class="left-right">
                      <%= link_to "Cancel Application", consultation_path(consultation), class: "button-gray", method: 'delete', data: { confirm: 'Are you sure?' } %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <h1 class="text-center"><%= current_user.lawfirm.name %> has no ongoing consultations at the moment.</h1>
        <% end %>
      <% else %>
        <input type="radio" id="tabfree" name="mytabs" <% if params[:tabs].present? == false %>checked="checked"<% end %>>
        <label for="tabfree"><i class="fa-solid fa-clipboard"></i> Consultations </label>
        <div class="tab" >
          <% if current_user.consultations.any? %>
            <h2 id="consultations">Consultations:</h2>
            <div class="wrapper-consultations">
              <% current_user.consultations.each do |consultation|%>
                <div class="card-consultations">
                  <div class="gradient-consultations"></div>
                  <div class="content-consultations">
                    <div class="consultations-flex">
                      <div class="left-right-name">
                        <p>Name:</p>
                      </div>
                      <div class="left-right-name">
                        <p><%= consultation.procedure.name %></p>
                      </div>
                    </div>
                    <div class="consultations-flex">
                      <div class="left-right">
                        <p>Created at:</p>
                      </div>
                      <div class="left-right">
                        <p><%= consultation.created_at %></p>
                      </div>
                    </div>
                    <div class="consultations-flex">
                      <div class="left-right">
                        <p>Last updated at:</p>
                      </div>
                      <div class="left-right">
                        <p><%= consultation.updated_at %></p>
                      </div>
                    </div>
                    <% if consultation.lawfirm.present? %>
                      <div class="consultations-flex-lawfirm">
                        <div class="left-right">
                          <p>Lawfirm:</p>
                        </div>
                        <div class="left-right">
                          <p><%= consultation.lawfirm.name %></p>
                        </div>
                      </div>
                    <% else %>
                      <div class="consultations-flex-lawfirm">
                        <div class="left-right">
                          <p>Lawfirm:</p>
                        </div>
                        <div class="left-right">
                          <p>None</p>
                        </div>
                      </div>
                    <% end %>
                    <div class="consultations-flex pt-3">
                      <div class="left-right">
                        <%= link_to "Review Procedure", consultation_path(consultation), class: "button-consultationscenter"%>
                      </div>
                      <% if consultation.lawfirm %>
                        <div class="left-right">
                          <%= link_to "Send a Message", chatroom_path(consultation.chatroom), class: "button-consultationscenter" %>
                        </div>
                      <% else %>
                        <div class="left-right">
                          <%= link_to "Contact a Law Firm", lawfirms_path, class: "button-consultationscenter" %>
                        </div>
                      <% end %>
                      <div class="left-right">
                        <%= link_to "Cancel Application", consultation_path(consultation), class: "button-gray", method: 'delete', data: { confirm: 'Are you sure?' } %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <h1>It seems like you do not have any consultations at the moment.</h1>
          <% end %>
        <% end %>
      </div>
      <% if current_user.lawfirm == nil %>
      <% else %>
        <input type="radio" id="tabgold" name="mytabs" <% if params[:tabs].present? && params[:tabs] == "My Firm" %>checked="checked"<% end %>>
        <label for="tabgold"><i class="fa-solid fa-scale-balanced"></i> My Firm </label>
        <div class="tab">
          <h2 id="lawfirms">My Law Firm:</h2>
          <div class="wrapper-mylawfirm">
            <div class="card-mylawfirm">
              <div class="gradient-mylawfirm"></div>
              <div class="mylawfirm-img">
                <% if @lawfirm.photo.attached? %>
                  <%= image_tag (cl_image_path @lawfirm.photo.key), alt: "law firm"%>
                <% else %>
                  <img src="https://res.cloudinary.com/drmu7et5q/image/upload/v1661846619/logo-black-square_iy9eai.png" alt="law firm">
                <% end %>
              </div>
              <div class="content-mylawfirm">
                <div class="mylawfirm-flex">
                  <div class="left-right-name">
                    <p>Name:</p>
                  </div>
                  <div class="left-right-name">
                    <p><%= @lawfirm.name %></p>
                  </div>
                </div>
                <div class="mylawfirm-flex">
                  <div class="left-right">
                    <p>Address:</p>
                  </div>
                  <div class="left-right">
                    <p><%= @lawfirm.address %></p>
                  </div>
                </div>
                <div class="mylawfirm-flex">
                  <div class="left-right">
                    <p>Location:</p>
                  </div>
                  <div class="left-right">
                    <p><%= @lawfirm.location %></p>
                  </div>
                </div>
                <div class="mylawfirm-flex">
                  <div class="left-right">
                    <p>Specialty:</p>
                  </div>
                  <div class="left-right-no-blue">
                    <% @lawfirm.tag_list.each do |tag| %>
                      <p><%= link_to tag, lawfirms_path(tag: tag) %></p>
                    <% end %>
                  </div>
                </div>
                <div class="mylawfirm-flex pt-3">
                  <div class="left-right">
                    <%= link_to "Update Law Firm", edit_lawfirm_path(@lawfirm), class: "button-main"%>
                  </div>
                  <div class="left-right">
                    <%= link_to "View Law Firm", lawfirm_path(@lawfirm), class: "button-main"%>
                  </div>
                  <div class="left-right">
                    <%= link_to "Remove Law Firm", lawfirm_path(@lawfirm), class: "nav-link", class: "button-gray", method: :delete,  data: { confirm: 'Are you sure?' } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="lawfirms-show-description-card">
    <% if @favorite_lawfirms.any? %>
      <h2><i class="fa-solid fa-bookmark"></i> Bookmarked Law Firms:</h2>
      <div class="wrapper-favorites">
        <% @favorite_lawfirms.each do |favorite|%>
          <div class="card-favorites">
            <div class="gradient-favorites"></div>
            <div class="card-favorites-img">
              <% if favorite.photo.attached? %>
                <%= image_tag (cl_image_path favorite.photo.key), alt: "law firm"%>
              <% else %>
                <img src="https://res.cloudinary.com/drmu7et5q/image/upload/v1661846619/logo-black-square_iy9eai.png" alt="law firm">
              <% end %>
            </div>
            <div class="content-favorites">
              <div class="favorites-flex-center">
                <p><%= favorite.name %></p>
              </div>
              <div class="favorites-flex">
                <div class="left-right">
                  <p>Address:</p>
                </div>
                <div class="left-right">
                  <p><%= favorite.address %></p>
                </div>
              </div>
              <div class="favorites-flex">
                <div class="left-right">
                  <p>Location:</p>
                </div>
                <div class="left-right">
                  <p><%= favorite.location %></p>
                </div>
              </div>
              <div class="favorites-flex">
                <div class="left-right">
                  <p>Specialty:</p>
                </div>
                <div class="left-right">
                  <% if favorite.tag_list.any? %>
                    <% favorite.tag_list.each do |tag| %>
                      <p><%= link_to tag, lawfirms_path(tag: tag) %></p>
                    <% end %>
                  <% else %>
                    <p>General</p>
                  <% end %>
                </div>
              </div>
              <div class="favorites-flex-center pt-3">
                <%= link_to "Show more information", lawfirm_path(favorite), class: "button-main" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <h1>It seems like you do not have any bookmarks at the moment.</h1>
    <% end %>
  </div>
</div>
